@media (min-width: 500px) {
  .NavigationItem {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    height: 100%;
  }
  .NavigationItem a {
    color: black;
    height: 100%;
    font-weight: 1000;
    font-size: large;
    text-decoration: none;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    display: block;
  }
  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    color: #a1bae6;
  }
}

@media (max-width: 500px) {
  .NavigationItem {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    height: 100%;
    top: 0;
  }
  .NavigationItem a {
    color: black;
    height: 100%;
    text-decoration: none;
    padding: 0;
    border-bottom: 4px solid transparent;
    display: block;
  }
  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: rgb(202, 77, 77);
    border-bottom: 4px solid blue;
    color: white;
  }
}
